
.container {
  position: fixed;
  left: 25%;
  width: 850px;
  height: 750px;
  /*border: 5px solid red;*/
}
.header{
  /*border: 5px solid;*/
  display: flex;
  justify-content: center;
  width: 98%;
  height: 70px;
}
h1{
  flex: 1;
}
.btn {
  background-color: rgb(175, 135, 250);
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 20px 15px;
}

.photos{
  max-width: 800px;
  margin: 5px auto;
}

.more{
  background-color: blue;
  max-width: 750px;
  text-align: center;
  height: 50px;
  border-radius: 10px;
}

.more button {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 18px;
}

